.hero-section {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(3, 29, 4, 0.09) 0%, rgba(6, 40, 17, 0.58) 56.53%, rgba(5, 37, 6, 0.77) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}