.showcase-section {
    padding: 60px 0;
    min-height: 100vh;
    background: rgba(3, 29, 4, 0.88);

    .head {
        margin-bottom: 30px;

        .title-text {
            font-size: 60px;
        }
    }

    .images-container {
        display: flex;

        .showcase-card {
            padding: 15px;
            background: #587E53;
            overflow: hidden;
            margin-right: 20px;
            height: 490px;
            display: flex;
            justify-content: center;
            width: 23%;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            cursor: pointer;

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            &.active {
                width: 550px;
                
                img {
                    transform: scale(1.02);
                }
            }

            .test {
                height: 100%;
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
            }

            img {
                height: 100%;
                transition: all .55s ease-in-out;
            }
        }
    }

    .images-control {
        margin: 60px auto 0;
        display: flex;
        justify-content: space-between;
        max-width: 250px;

        .control {
            height: 12px;
            width: 12px;
            border-radius: 12px;
            background: #838D86;
            position: relative;
            cursor: pointer;
            transition: all .4s;

            &.active {
                background: linear-gradient(180deg, #FDE12D 0%, #FF7403 100%);


                &::before {
                    content: '';
                    width: 24px;
                    height: 24px;
                    border-radius: 24px;
                    border: 2px solid #FEC221;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .showcase-section {
        .head {

        }
        .section-padding {
            padding: 0;
        }
        .images-container {
            overflow: auto;
            .showcase-card {
                min-width: 400px;

                &:first-child {
                    margin-left: 20px;
                }
            }
        }
        .images-control {
            display: none;
        }
    }
}