.title-text {
    margin: 0;
    font-family: Jungle Land;
    font-size: 55px;
    background: linear-gradient(180deg, #FDE12D 0%, #FF7403 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}