.title-text {
    font-size: 55px;
}

.title-text[data-text] {
  display:inline-block;
  font-family: Jungle Land;
  position:relative;
  margin:10px;
}
span[data-text]:before {
  content:attr(data-text);
  background: rgba(98, 55, 4, 1);
  -webkit-text-stroke: 3.5px transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}
span[data-text]:after {
  content:attr(data-text);
  left:0;
  top:0;
  position:absolute;
  background-image: linear-gradient(180deg, #FDE12D 0%, #FF7403 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}