.hero-section {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(3, 29, 4, 0.09) 0%, rgba(6, 40, 17, 0.58) 56.53%, rgba(5, 37, 6, 0.88) 100%);
    display: flex;
    justify-content: center;
    padding: 150px 5% 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo {
            max-width: 540px;
        }

        .body-text {
            font-size: 23px;
            max-width: 800px;
        }

        .primary-button {
            margin-top: 40px;
        }

        .arrow-down-btn {
            margin-top: auto;
            margin-bottom: 25px;
            animation: bounce .9s ease-in alternate infinite;
        }        
    }
}

@media only screen and (max-width: 768px) {
    .hero-section {
        .content {
            .logo {
                width: 70%;
                min-width: 350px;
            }
        }
    }
}

@keyframes bounce {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}